@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes go {
    from {
        transform: translate(0, 0px);
    }
    to {
        transform: translate(20px, 0);
    }
}

@keyframes float {
    100% {
        transform: translateY(20px);
    }
}

@keyframes shake {
    0% { transform: rotate(-30deg); }
    25% { transform: rotate(-45deg); }
    50% { transform: rotate(-60deg); }
    75% { transform: rotate(-45deg); }
    100% { transform: rotate(-30deg); }
}

@keyframes move-chevron {
    25% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
        transform: translateY(0.6rem * 3.8);
    }
    66.6% {
        opacity: 1;
        transform: translateY(0.6rem * 5.2);
    }
    100% {
        opacity: 0;
        transform: translateY(0.6rem * 8) scale(0.5);
    }
}